; Engine configuration file.
; Lanet Godot SDK 插件清单。

config_version=4

[application]

config/name="Lanet P2P"
config/description="玩家之间 P2P 联机：经 Lanet ws-gateway 桥接，房间制多人游戏接入。"
config/version="0.1.0"

[editor_plugins]

enabled=PackedStringArray("res://addons/lanet/plugin.cfg")
